@font-face {
    font-family: 'Null';
    src: url('/assets/fonts/Null-Normal.eot');
    src: url('/assets/fonts/Null-Normal.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Null-Normal.woff2') format('woff2'),
        url('/assets/fonts/Null-Normal.woff') format('woff')
}


// Sass Variables

$specialfont: 'Null',
    Helvetica,
    Arial,
    sans-serif;

$specialblue: #8E53FA;
$specialpurple: #A761D4;
$specialpink: #BE6DB1;
$specialorange: #FB8F52;
$specialwhite: #E4E2DD;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body,
#root {
    height: 100%;
}

a {
    color: $specialpurple;
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

//  Custom Styles

// Header
header {
    padding: 10px 5%;

    h1 {
        font-size: 8vh;
        font-family: $specialfont;
    }

    p {
        margin-right: 0px;
        padding-right: 0px !important;
    }

    nav {
        a {
            color: $specialpurple;
            margin-left: 20px;

            &.active,
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .nav-link {
       color: white;
    }

}
#upload-image-btn {
    padding: 25px 20px;
}



// Main Gallery

// Artwork form + upload

.upload-widget {
    border: 3px solid lightgray;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
    height: 50vh;
    width: 60%;

    .upload-btn {
        border: 2ps solid grey;
        width: 60%;
    }
}

.artwork-form {
    border: 3px solid lightgray;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
    height: 50vh;
    width: 60%;

    button {
        background-color: $specialpurple;
        color: whitesmoke;
        font-weight: bold;

        &:hover {
            background-color: $specialpink;
        }
    }
}

// Dashboard


// AuthForm Styles

form {
    width: 400px;
    margin: 0px auto;

    >* {
        padding: 6px 6px;
        margin-bottom: 6px;
        border-radius: 5px;
        border-color: lightgray;

        &:focus {
            outline: 3px solid $specialpurple !important;
        }
    }

    button {
        background: $specialpurple;
        padding: 10px;
        width: 35%;
        align-self: center;
    }

    span {
        &:hover {
            text-decoration: underline;
            color: $specialpurple;
            cursor: pointer;
        }
    }
}

// Landing Page 

.landing-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $specialwhite;
    transition: opacity 1s ease-out;
    font-family: $specialfont;

    // Background Image
    background-image: url('../assets/images/backgroundImage.png');

    &.fade-out {
        opacity: 0;
    }

    .top-nav {
        position: absolute;
        top: 20px;
        right: 5%;
        display: flex;

        .nav-link {
            color: $specialpurple;
            margin-left: 20px;
            font-size: 1.2rem;
            text-decoration: none;

            &.active,
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        .enter-button {
            padding: 15px 30px;
            font-size: 1.5rem;
            color: $specialwhite;
            background-color: $specialpurple;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
            font-family: $specialfont;

            &:hover {
                background-color: $specialblue;
                transform: scale(1.05);
            }
        }
    }
}